[package]
name = "fuzz-dancelight"
authors = { workspace = true }
version = "0.1.0"
edition = "2024"
license = "GPL-3.0-only"

[lints]
workspace = true

[dependencies]
dancelight-runtime = { workspace = true, features = [ "std", "try-runtime", "fast-runtime" ]}
