name: CI

on:
    pull_request:
    push:
        branches:
            - master
            - perm-*

jobs:
    set-tags:
        runs-on: ubuntu-24.04
        outputs:
            image_exists: ${{ steps.check-docker-image.outputs.image_exists }}
            git_ref: ${{ steps.check-git-ref.outputs.git_ref }}
            sha: ${{ steps.get-sha.outputs.sha }}
            sha8: ${{ steps.get-sha.outputs.sha8 }}
            latest_rt: ${{ steps.get-sha.outputs.latest_rt }}
            latest_rt_sha8: ${{ steps.get-sha.outputs.latest_rt_sha8 }}
        steps:
          - name: Check git ref
            id: check-git-ref
            # if PR
            # else if manual PR
            # else (push)
            run: |
              if [[ -n "${{ github.event.pull_request.head.sha }}" ]]; then
                echo "git_branch=$(echo ${GITHUB_HEAD_REF})" >> $GITHUB_OUTPUT
                echo "git_ref=${{ github.event.pull_request.head.sha }}" >> $GITHUB_OUTPUT
              elif [[ -n "${{ github.event.inputs.pull_request }}" ]]; then
                echo "git_branch=$(echo ${GITHUB_HEAD_REF})" >> $GITHUB_OUTPUT
                echo "git_ref=refs/pull/${{ github.event.inputs.pull_request }}/head" >> $GITHUB_OUTPUT
              else
                echo "git_branch=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_OUTPUT
                echo "git_ref=$GITHUB_REF" >> $GITHUB_OUTPUT
              fi
          - name: Checkout
            uses: actions/checkout@v6
            with:
              ref: ${{ steps.check-git-ref.outputs.git_ref }}
          - name: Get Sha
            id: get-sha
            run: |
              echo "sha=$(git log -1 --format='%H')" >> $GITHUB_OUTPUT
              echo "sha8=$(git log -1 --format='%H' | cut -c1-8)" >> $GITHUB_OUTPUT
          - name: Check existing docker image
            id: check-docker-image
            run: |
              TAG=sha-${{ steps.get-sha.outputs.sha8 }}
              echo "image_exists=$(docker image inspect moondancelabs/tanssi:$TAG > /dev/null && echo "true" || echo "false")" >> $GITHUB_OUTPUT
          - name: Display variables
            run: |
              echo git_ref: ${{ steps.check-git-ref.outputs.git_ref }}
              echo sha: ${{ steps.get-sha.outputs.sha }}
              echo sha8: ${{ steps.get-sha.outputs.sha8 }}

    ####### Static Analyses #######
    cargo-clippy:
        runs-on: ubuntu-24.04
        needs: [ "set-tags", "build" ]
        env:
            RUSTC_WRAPPER: "sccache"
            CARGO_INCREMENTAL: "0"
            SCCACHE_CACHE_SIZE: "100GB"
            SCCACHE_GHA_ENABLED: "true"
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  ref: ${{ needs.set-tags.outputs.git_ref }}
            - name: Setup Rust toolchain
              run: rustup show
            - name: Checkout tanssi repo
              run: |
                cd ..
                git clone --depth 1 https://github.com/moondance-labs/tanssi
                cd -
            - name: Install protoc
              run: |
                sudo apt-get update
                sudo apt-get install -y protobuf-compiler
            - name: Clippy
              run: |
                SKIP_WASM_BUILD=1 env -u RUSTFLAGS cargo clippy --all-targets --locked --workspace

    toml-formatting:
        runs-on: ubuntu-24.04
        needs: ["set-tags"]
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  ref: ${{ needs.set-tags.outputs.git_ref }}

            - name: Setup Rust toolchain
              run: rustup show

            - name: Install toml-maid
              run: cargo install --locked -f toml-maid

            - name: Run toml-maid
              run: toml-maid --check

    ####### Building and Testing binaries #######

    build:
        runs-on: ubuntu-24.04
        needs: ["set-tags"]
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  ref: ${{ needs.set-tags.outputs.git_ref }}
            - name: Run sccache-cache
              uses: mozilla-actions/sccache-action@v0.0.9
            - name: Setup Variables
              shell: bash
              run: |
                  echo "CARGO_INCREMENTAL=0" >> $GITHUB_ENV
                  echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV
                  echo "SCCACHE_CACHE_SIZE=100GB" >> $GITHUB_ENV
            - name: Setup Rust toolchain
              run: rustup show
            - name: Checkout tanssi repo
              run: |
                cd ..
                git clone --depth 1 https://github.com/moondance-labs/tanssi
                cd -
            - name: Formatter
              run: cargo fmt --all --check
            - name: Install protoc
              run: |
                sudo apt-get update
                sudo apt-get install -y protobuf-compiler
            - name: Install cargo-fuzz
              # Use custom version from github because the latest release is too old
              run: cargo install cargo-fuzz --git https://github.com/rust-fuzz/cargo-fuzz --rev 65e3279c9602375037cb3aaabd3209c5b746375c
            - name: Build
              run: |
                cd fuzzers/fuzz-dancelight/fuzz
                SKIP_WASM_BUILD=1 cargo fuzz build fuzz_live_oneblock --build-std
                SKIP_WASM_BUILD=1 cargo fuzz build fuzz_zombie --build-std

                #strip target/x86_64-unknown-linux-gnu/release/fuzz_starlight
                #strip target/x86_64-unknown-linux-gnu/release/fuzz_starlight_live
                #cd ..
                #mkdir binaries
                #mv fuzz/target/x86_64-unknown-linux-gnu/release/fuzz_starlight binaries/
                #mv fuzz/target/x86_64-unknown-linux-gnu/release/fuzz_starlight_live binaries/
            - name: Upload binary
              uses: actions/upload-artifact@v4
              with:
                  name: binaries
                  path: binaries
